.idea
**/*.pyc
**/__pycache__
.autotools
.cproject
.depend
.idea
.project
.pydevproject
.settings
.spyderproject
.tags
.tags1
.vscode
build
Cargo.lock
CMakeLists.txt.bak
Debug
data
tags
target
src_o/*.o
src_o/src_o
src_o/binary_to_bicseq
src_o/debug
src_o/GADA
src_o/infer
src_o/normalize
src_o/recall_precision
src_o/segment_mean_var
src_o/snp_calling
src_o/README.aux
src_o/README.log
src_o/README.pdf
src_o/README.tex.backup
test/debug
